/* --- Layout --- */

.header {
  padding: 92px 50px 96px 50px;
}

.cover {
  min-height: 757px;
  margin-bottom: 180px;
  padding: 165px 50px 50px;
}

.lots {
  margin-bottom: 120px;
  padding-right: 24px;
  padding-left: 24px;
}

.about {
  margin-bottom: 180px;
  padding-right: 24px;
  padding-left: 24px;
}

.footer {
  padding: 0 50px 82px;
}

/* --- Components --- */

/* Указание адреса, используется в шапке и подвале */
.address {
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

/* Оверлэй для картинок */
.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0.6;
  background-color: #000000;
}

/* Кнопка - возможно она будет добавлена еще где то на странице */
.bet-button {
  border: 1px solid #ffffff;
  padding: 0;

  padding: 12px 32px 11px 31px;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background: none;
}

/* Убираем стандартное подчеркивание ссылок для добавления подчеркивания как на макете */
.link {
  border-bottom: 1px solid #000000;
  text-decoration: none;
  text-transform: lowercase;
}

/* Так как есть условие что могут добавляться новые карточки */
.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 334px;
  min-height: 596px;
  padding: 48px 40px;

  background-color: #e5e5e5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* --- Section Header --- */

.header__column {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__links-list {
  display: flex;
  gap: 34px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  color: #000000;
  font-size: 18px;
}

.header__link-active {
  border-bottom: none;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

/* --- Section Cover --- */

.cover__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover__media {
  background: #e5e5e5;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  z-index: 2;
  color: #ffffff;
  font-weight: 800;
  font-size: 100px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  line-height: 1.15;
  letter-spacing: 30px;
}

.no-letter-spacing {
  margin-right: -30px;
}

.align-text_offset {
  margin-bottom: 20px;
}

.cover__description {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.cover__description-text {
  color: #ffffff;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

/* --- Section Lots ---*/

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  z-index: 2;
  color: #ffffff;
  font-weight: 800;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  z-index: 2;
  margin-top: auto;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  margin-left: 40px;
  border-bottom: 1px solid #000000;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  text-transform: lowercase;
}

/* --- Section About --- */

.about__column {
  display: grid;
  grid-template-columns: 334px auto;
}

.about__logo {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 34px;
  margin-left: 47px;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  display: block;
  width: 148px;
  height: 114px;
}

.about__container-description {
  display: flex;
  flex-direction: column;
  margin-top: 135px;
  margin-left: 25px;
}

.about__container-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__title {
  margin-bottom: 100px;
  color: #000000;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about__text {
  color: #000000;
  font-size: 20px;
  line-height: 24px;
}

.about__text_type-short {
  width: 688px;
}

.about__text_type-long {
  width: 693px;
}

/* --- Section Footer --- */

.footer__column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer__address {
  justify-self: start;
  width: 264px;
}

.footer__menu-list,
.footer__social-list {
  list-style: none;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-link {
  border-bottom: 1px solid #000000;
  font-size: 18px;
  text-decoration: none;
  text-transform: lowercase;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
}

.footer__social-image {
  display: block;
  width: 48px;
  height: 48px;
}
